$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

.cake-form {
    display: flex;
    height: 100vh;

    @media (max-width: $tablet-breakpoint) {
        flex-direction: column;
        height: auto;
    }

    .cake-form-left {
        flex: 1;
        padding: 3rem;

        @media (max-width: $tablet-breakpoint) {
            width: 100%;
            flex: 1;
        }

        .cake {
            background: var(--mainWhite);
            margin-bottom: 2rem;
            box-shadow: var(--lightShadow);
            transition: var(--mainTransition);
            display: grid;
            grid-template-rows: auto 1fr;
            border-radius: var(--mainBorderRadius);

            .img-container {
                border-radius: var(--mainBorderRadius);
            }

            .cake-footer {
                p {
                    font-weight: bold;
                    text-transform: capitalize;
                    line-height: 1.8;

                    span {
                        margin-right: 0.5rem;
                    }

                    .cake-data {
                        background: var(--primaryLightColor);
                        padding: 0.25rem 0.5rem;
                        border-radius: var(--mainBorderRadius);
                        color: var(--primaryColor);
                    }
                }
            }
        }
    }

    .cake-form-right {
        flex: 2;

        @media (max-width: $tablet-breakpoint) {
            width: 100%;
            flex: 1;
        }
        
        form {
            display: flex;
            padding-top: 3rem;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: space-around;

            @media (max-width: $tablet-breakpoint) {
                margin-bottom: 2rem;
            }

            .formInput {
                width: 40%;

                @media (max-width: $tablet-breakpoint) {
                    width: 90%;
                    padding: 10px;
                }

                label {
                    display: flex;
                    align-items: center;
                    padding: 0.3rem;
                    font-weight: 600;
                }

                input {
                    width: 100%;
                    padding: 0.3rem;
                    border: none;
                    border-bottom: 1px solid gray;
                }
            }

            button {
                width: 15rem;

                @media (max-width: $tablet-breakpoint) {
                    height: 50px;
                }
            }
        }
    }
}
